.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pepe {
  border: 1px solid black;
}


@media (min-width: 1000px) {
  .App {
    flex-direction: column;
    width: 100%;
  }
}