/* .App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pepe {
  border: 1px solid black;
}


@media (min-width: 1000px) {
  .App {
    flex-direction: column;
    width: 100%;
  }
} */

.wip{
  background-image: url("./wip.jpg");
  background-repeat: no-repeat;
  height: 500px; 
  background-position: center; /* Center the image */
  background-size: contain;
}